Repository zarf-dev/zarf, pull requests merged in 2022-05, with the labels that each got.

#470 add flag --skip-sbom to package create to speed up dev packages
  src/cmd/package.go
  src/config/config.go
  src/internal/packager/create.go
  src/internal/sbom/catalog.go
Labels: enhancement, sbom, packager

#471 Fallback to host-provided git on clone failure during package create
  examples/gitops-data/zarf.yaml
  src/internal/git/pull.go
  src/internal/git/push.go
Labels: bug, enhancement, packager

#473 Resolve env variable secrets in the docker registry helm chart
  packages/zarf-registry/registry-values.yaml
  packages/zarf-registry/zarf.yaml
Labels: bug, packager, tech-debt

#474 Add support for custom Zarf variables in k8s resources
  Makefile
  examples/component-variables/README.md
  examples/component-variables/simple-configmap.yaml
  examples/component-variables/zarf.yaml
  src/internal/helm/post-render.go
  src/internal/k8s/common.go
  src/internal/packager/deploy.go
  src/internal/template/template.go
  src/test/e2e/e2e_component_variables_test.go
  src/types/types.go
  zarf.schema.json
Labels: enhancement, packager

#481 Add Zarf Agent Github Action
  .github/workflows/build-zarf-agent.yml
Labels: cicd

#488 implement component choice groups
  Makefile
  examples/component-choice/blank-file.txt
  examples/component-choice/zarf.yaml
  packages/big-bang-core/.images/helmreleases.png
  packages/big-bang-core/.images/pods.png
  packages/big-bang-core/README.md
  packages/big-bang-core/kustomization/core-light/kustomization.yaml
  packages/big-bang-core/kustomization/core-light/values.yaml
  packages/big-bang-core/kustomization/core-standard/kustomization.yaml
  packages/big-bang-core/kustomization/core-standard/values.yaml
  packages/big-bang-core/zarf.yaml
  src/internal/packager/common.go
  src/internal/packager/components.go
  src/internal/packager/deploy.go
  src/internal/packager/scripts.go
  src/internal/packager/validate/validate.go
  src/internal/utils/yaml.go
  src/test/e2e/e2e_component_choice_test.go
  src/types/types.go
  zarf.schema.json
Labels: enhancement, packager

#480 Add helm release name property to zarf chart
  Makefile
  examples/helm-with-different-releaseName-values/values.yaml
  examples/helm-with-different-releaseName-values/zarf.yaml
  src/internal/helm/chart.go
  src/test/e2e/e2e_helm_test.go
  src/types/types.go
  zarf.schema.json
Labels: enhancement, helm, packager, needs-git-sign-off

#495 Depencency updates
  go.mod
  go.sum
  packages/distros/k3s/zarf.yaml
  packages/gitea/gitea-values.yaml
  packages/gitea/zarf.yaml
  packages/logging-pgl/zarf.yaml
  packages/zarf-agent/zarf.yaml
  src/internal/sbom/catalog.go
Labels: dependencies, tech-debt
