Repository zarf-dev/zarf, pull requests merged in 2022-04, with the labels that each got.

#439 Readme cleanup
  README.md
Labels: documentation

#413 Add a read-only Gitea user to repos
  packages/gitea/zarf.yaml
  src/cmd/tools.go
  src/config/config.go
  src/internal/git/push.go
  src/internal/git/utils.go
  src/internal/packager/deploy.go
  src/test/e2e/common.go
  src/test/e2e/e2e_gitea_and_grafana_test.go
Labels: enhancement

#448 Zarf Injector automation cleanup
  .github/workflows/build-rust-injector.yml
  .gitignore
  cosign.pub
  examples/postgres-operator/values/minio-operator.yaml
  go.mod
  go.sum
  packages/zarf-injector/zarf.yaml
  src/injector/README.md
  src/injector/stage2/Makefile
  src/internal/packager/compose.go
  src/internal/utils/network.go
  src/internal/utils/sget.go
  zarf.yaml
Labels: cicd, injector

#446 adds zarf cache flag
  src/cmd/package.go
  src/cmd/root.go
  src/config/config.go
  src/internal/images/common.go
  src/internal/images/pull.go
  src/test/e2e/common.go
  src/test/e2e/e2e_zarf_create_test.go
  src/test/e2e/zarf.yaml
Labels: enhancement, packager

#459 338 configurable script timeout
  Makefile
  examples/component-scripts/zarf.yaml
  packages/distros/eks/eks.yaml
  packages/distros/eks/zarf.yaml
  src/cmd/destroy.go
  src/cmd/tools.go
  src/internal/packager/common.go
  src/internal/packager/deploy.go
  src/internal/packager/validate/validate.go
  src/internal/pki/pki.go
  src/internal/utils/exec.go
  src/test/e2e/e2e_component_scripts_test.go
  src/test/e2e/e2e_general_cli_test.go
  src/types/types.go
  zarf.schema.json
Labels: enhancement, packager

#367 Create SBOMs for images pulled during package creation
  .gitignore
  docs/adr/0004-generate-sboms-with-witness.md
  docs/sbom.md
  go.mod
  go.sum
  src/cmd/tools.go
  src/internal/images/pull.go
  src/internal/packager/common.go
  src/internal/packager/create.go
  src/internal/packager/deploy.go
  src/internal/sbom/catalog.go
  src/internal/sbom/viewer/library.js
  src/internal/sbom/viewer/styles.css
  src/internal/sbom/viewer/template.gohtml
  src/internal/sbom/viewer/theme.css
  src/internal/sbom/viewer/viewer.js
Labels: enhancement, sbom, packager

#465 fix zarfYaml spec change for eks zarf config
  packages/distros/eks/zarf.yaml
Labels: tech-debt

#453 Adding kustomized options consistent with the ones used by flux v2
  src/internal/kustomize/build.go
  src/internal/packager/create.go
  src/internal/packager/prepare.go
  src/types/types.go
  zarf.schema.json
Labels: possible-bug, packager
