Repository zarf-dev/zarf, pull requests merged in 2022-08, with the labels that each got.

#654 correctly cleanup temp directory test
  src/test/e2e/01_component_choice_test.go
  src/test/e2e/03_temp_directory_deploy_test.go
Labels: tests, cicd, tech-debt

#667 split minio into own pkg & cleanup/update postgres/minio examples
  examples/minio/operator-values.yaml
  examples/minio/tenant-values.yaml
  examples/minio/zarf-connect.yaml
  examples/minio/zarf.yaml
  examples/postgres-operator/example-db/demo-cluster.yaml
  examples/postgres-operator/manifests/patch-svc-accounts.yaml
  examples/postgres-operator/manifests/postgres-operator.yaml
  examples/postgres-operator/pgadmin/values.yaml
  examples/postgres-operator/pgadmin/zarf-connect.yaml
  examples/postgres-operator/postgres/operator-ui-values.yaml
  examples/postgres-operator/postgres/operator-values.yaml
  examples/postgres-operator/postgres/zarf-connect.yaml
  examples/postgres-operator/values/minio-instance.yaml
  examples/postgres-operator/values/minio-operator.yaml
  examples/postgres-operator/values/postgres-operator.yaml
  examples/postgres-operator/zarf.yaml
Labels: examples

#683 Updates to Overview, User guide index, and Understand the basics
  docs/0-zarf-overview.md
  docs/1-understand-the-basics.md
  docs/4-user-guide/index.md
Labels: documentation

#681 Update example READMEs
  Makefile
  README.md
  adr/0001-record-architecture-decisions.md
  adr/0002-moving-e2e-tests-away-from-terratest.md
  adr/0005-mutating-webhook.md
  docs/.images/architecture.drawio.svg
  docs/.images/walkthroughs/logging_credentials.png
  docs/.images/what-is-zarf/appliance-mode.png
  docs/.images/what-is-zarf/build-the-package.png
  docs/.images/what-is-zarf/how-to-use-it.png
  docs/.images/what-is-zarf/ship-the-package.png
  docs/.images/what-is-zarf/utility-mode.png
  docs/0-zarf-overview.md
  docs/13-walkthroughs/1-initializing-a-k8s-cluster.md
  docs/13-walkthroughs/2-deploying-doom.md
  docs/13-walkthroughs/3-add-logging.md
  docs/13-walkthroughs/3-creating-a-k8s-cluster-with-zarf.md
  docs/13-walkthroughs/4-creating-a-k8s-cluster-with-zarf.md
  docs/13-walkthroughs/index.md
  docs/4-user-guide/index.md
  docs/6-developer-guide/1-contributor-guide.md
  docs/7-dashboard-ui/1-sbom-dashboard.md
  docs/7-dashboard-ui/2-k9s-dashboard.md
  docs/7-dashboard-ui/_category_.json
  docs/7-examples/_category_.json
  docs/architecture.drawio.svg
  examples/README.md
  examples/component-choice/README.md
  examples/component-scripts/README.md
  examples/composable-packages/README.md
  examples/data-injection/README.md
  examples/flux-test/README.md
  examples/flux-test/zarf.yaml
  examples/game/README.md
  examples/game/add-logging.md
  examples/game/image/README.md
  examples/game/img/game.png
  examples/git-data/README.md
  examples/git-data/zarf.yaml
  examples/gitops-data/README.md
  examples/helm-alt-release-name/README.md
  examples/helm-alt-release-name/zarf.yaml
  examples/package-variables/README.md
  examples/postgres-operator/README.md
  examples/tiny-kafka/README.md
  packages/big-bang-core/README.md
  packages/flux-iron-bank/README.md
  packages/gitea/README.md
  packages/zarf-registry/README.md
  src/test/e2e/22_git_and_flux_test.go
Labels: documentation, examples
